{% extends 'games/base.html' %}
{% load my_tags %}
{% block content %}
<div class="col-md-4">
    <div class="card mb-4 bpx-shadow">
        <img class="card-img-top"
             src="{{ object.photo|games_media }}" width="300" height="320"
             alt="Card image cap">
        <div class="card-body">
            <p class="card-text">{{ object.name|title }}</p>
            <span class="text-muted">{{ object.date_of_publication|default:"-"}}</span><br>
        </div>
        <div class="card-footer">
            <a class="btn btn-link" href="{% url 'games:game_update' object.pk %}">Изменить</a>
            <a class="btn btn-link" href="{% url 'games:game_delete' object.pk %}">Удалить</a>
        </div>
    </div>
</div>
{% endblock %}