{% extends 'games/base.html' %}
{% load user_tags %}
{% block content %}
<div class="row">
    <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">Мой профиль</div>
                <img class="card-img-top mx-auto d-block"
                    src="{{ object.photo|user_media }}"
                    alt="Card image cap"
                    style="max-width: 300px; height: auto;">
                <p class="card-text mt-3">{{ object }}</p>
                <div class="card-body">
                    <span class="card-text">Почта: {{user.email}}</span><br>
                    <span class="card-text">Имя: {{user.first_name|default:"Не указано"}}</span><br>
                    <span class="card-text">Фамилия: {{user.last_name|default:"Не указано"}}</span><br>
                    <span class="card-text">Телефон: {{user.phone|default:"Не указано"}}</span><br>
                    <span class="card-text">Телеграмм: {{user.telegram|default:"Не указано"}}</span><br>
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-warning btn-sm float-right">
                        <a class="btn btn-link" href="{% url 'users:user_profile' %}">Обновить</a>
                    </button>
                </div>
            </div>
        </div>
</div>
{% endblock %}